{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste des exemplaires : </h1>

    <table>
        <thead>
            <tr>
                <th> </th>
                <th>N° de l'exemplaire</th>
                <th>Livre</th>
                <th>Etagère</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for exemplaire in exemplaires %}
            <tr>
                <td><a href="{{ path('exemplaire_show', { 'id': exemplaire.id }) }}"></a></td>
                <td>{{ exemplaire.numeroExemplaire }}</td>
                <td>{{ exemplaire.livre }}</td>
                <td>{{ exemplaire.etagere }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('exemplaire_show', { 'id': exemplaire.id }) }}">Afficher</a>
                        </li>
                        <li>
                            <a href="{{ path('exemplaire_edit', { 'id': exemplaire.id }) }}">Editer</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('exemplaire_new') }}">Ajouter un exemplaire</a>
{% endblock %}
