{% extends 'base.html.twig' %}

{% block body %}
    <h1>Rayon</h1>

    <table>
        <tbody>
            <tr>
                <th>Id : </th>
                <td>{{ rayon.id }}</td>
            </tr>
            <tr>
                <th>Designation : </th>
                <td>{{ rayon.designationRayon }}</td>
            </tr>
            <tr>
                <th>Thème : </th>
                <td>{{ rayon.themeRayon }}</td>
            </tr>
            <tr>
                <th>Etagères : </th>
                <td>
                    {% for etageres in rayon.getEtageres %}
                        {{ etageres.numeroEtagere~', ' }}
                    {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('rayon_index') }}">Retour à la liste</a>
        </li>
        <li>
            <a href="{{ path('rayon_edit', { 'id': rayon.id }) }}">Editer</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Supprimer">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
