{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste des thèmes</h1>

    <table>
        <thead>
            <tr>
                <th> </th>
                <th>Description </th>
                <th>Actions </th>
            </tr>
        </thead>
        <tbody>
        {% for theme in themes %}
            <tr>
                <td><a href="{{ path('theme_show', { 'id': theme.id }) }}"> </a></td>
                <td>{{ theme.descriptionTheme }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('theme_show', { 'id': theme.id }) }}">Voir</a>
                        </li>
                        {# <li>
                            <a href="{{ path('theme_edit', { 'id': theme.id }) }}">Editer</a>
                        </li> #}
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('theme_new') }}">Ajouter un thème</a>
        </li>
    </ul>
{% endblock %}
