{% extends 'base.html.twig' %}

{% block body %}
    <h1>Projet Symfony</h1>

    <p>Partie A.</p>
    <a href="{{ path('livre_index') }}">Liste des livres</a>
    <br />
	<a href="{{ path('auteur_index') }}">Liste des auteurs</a>
	<br />
    <a href="{{ path('theme_index') }}">Liste des themes</a>
    <br /><br />
    <p>Partie B.</p>
    <a href="{{ path('bibliotheque_pret_liste') }}">Livres empruntés</a>
    <br />
    <a href="{{ path('bibliotheque_pret_listeLivreDispo') }}">Livres disponible</a>
    <br />
    <a href="{{ path('bibliotheque_pret_liste_horsDelais') }}">Liste hors délais</a>
    <br /><br />
    <p>Partie C. Agent au inscriptions - Inscrits</p>
    <a href="{{ path('lecteur_index') }}">Liste Inscrit</a>
    <br />
    <a href="{{ path('lecteur_new') }}">Ajouter un inscrit</a>
    <br />
    <a href="{{ path('recherchermot') }}">Recherche Inscrit</a>
    <br />
    <a href="{{ path('faculte_index') }}">Facultés</a>
    <br />
    <a href="{{ path('reserver_index') }}">Liste réservations</a>
    <br /><br />
    <p>Partie D.</p>
    <a href="{{ path('exemplaire_index') }}">Liste des exemplaires</a>
    <br />
    <a href="{{ path('rayon_index') }}">Liste des rayons</a>
    <br />
    <a href="{{ path('etagere_index') }}">Liste des étagères</a>
    <br /><br />

{% endblock %}
