{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste Réservations</h1>

    <table>

            <tr style="background-color: #5B83AD">
                <th>Livre</th>
                <th>Date reservation</th>
                <th>Inscrit</th>
                <th>Actions</th>
            </tr>


        {% for reserver in reservers %}
            <tr style="text-align: center; background-color: #e8e8e8">
                <td style="padding: 5px;">{{ reserver.livre }}</td>
                <td style="padding: 5px;">{% if reserver.dateReservation %}{{ reserver.dateReservation|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td style="padding: 5px;">{{ reserver.lecteur }}</td>
                <td style="padding: 5px;">

                           <a href="{{ path('reserver_edit', { 'id': reserver.id }) }}"><button>Modifier</button></a>

                </td>
            </tr>
        {% endfor %}

    </table>



            <a href="{{ path('reserver_new') }}"><button>Créer une reservation</button></a>


{% endblock %}
