{% extends 'base.html.twig' %}

{% block body %}
    <h1>détails de la Faculté</h1>

    <table>
        <tbody>

            <tr>
                <th>Designation de la faculté</th>
                <td>{{ faculte.designationFaculte }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('faculte_index') }}">Retour</a>
        </li>
        <li>
            <a href="{{ path('faculte_edit', { 'id': faculte.id }) }}">Modifier</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Supprimer">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
