{% extends 'base.html.twig' %}

{% block body %}
    <h1>Faculte</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ faculte.id }}</td>
            </tr>
            <tr>
                <th>Designationfaculte</th>
                <td>{{ faculte.designationFaculte }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('faculte_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('faculte_edit', { 'id': faculte.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
