{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste des étagères</h1>

    <table>
        <thead>
            <tr>
                <th> </th>
                <th>Numéro</th>
                <th>Rayon</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for etagere in etageres %}
            <tr>
                <td><a href="{{ path('etagere_show', { 'id': etagere.id }) }}"></a></td>
                <td>{{ etagere.numeroEtagere }}</td>
                <td>{{ etagere.rayon }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('etagere_show', { 'id': etagere.id }) }}">Afficher</a>
                        </li>
                        <li>
                            <a href="{{ path('etagere_edit', { 'id': etagere.id }) }}">Editer</a>
                        </li>
                        <li>
                            <a href="{{ path('etagere_delete', { 'id': etagere.id }) }}">Supprimer</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('etagere_new') }}">Ajouter une étagère</a>
{% endblock %}
