{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste des livres :</h1>

    <table>
        <thead>
            <tr>
                <th>Référence</th>
                <th>Titre</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for livre in livres %}
            <tr>
                <td><a href="{{ path('livre_show', { 'id': livre.getId }) }}">#{{ livre.getId }}</a></td>
                <td>{{ livre.getTitreLivre }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('livre_show', { 'id': livre.getId }) }}">Afficher</a>
                        </li>
                        <li>
                            <a href="{{ path('livre_edit', { 'id': livre.getId }) }}">Editer</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('livre_new') }}">Ajouter un livre</a>
	<br />
	<a href="{{ path('livre_search') }}">Rechercher un livre</a>
{% endblock %}
