{% extends 'base.html.twig' %}

{% block body %}
    <a href="{{ path('livre_search') }}"><h3 style="text-align: center;">Rechercher un livre </h3></a>
    <h1>Liste Des inscrits</h1>

    <table>

            <tr style="background-color: #5B83AD">
                <th>Nom</th>
                <th>Prenom</th>
                <th>Cycle</th>
                <th>Actions</th>
            </tr>


        {% for lecteur in lecteurs %}
            <tr style="text-align: center; background-color: #e8e8e8">
                <td style="padding: 5px;">{{ lecteur.nomLecteur }}</td>
                <td style="padding: 5px;">{{ lecteur.prenomLecteur }}</td>
                <td style="padding: 5px;">{{ lecteur.cycleLecteur }}</td>
                <td style="padding: 5px;">


                            <a href="{{ path('lecteur_show', { 'id': lecteur.id }) }}"><button>Afficher</button></a>


                            <a href="{{ path('lecteur_edit', { 'id': lecteur.id }) }}"><button>Modifier</button></a>


                            <a href="{{ path('situationpret', {'id': lecteur.id }) }}"><button>Situation</button></a>


                </td>
            </tr>
        {% endfor %}

    </table>

    <br><br>
            <a href="{{ path('lecteur_new') }}"><button>Créer un nouveau inscrit</button></a>

{% endblock %}
