{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste Des inscrits</h1>

    <table>
        <thead>
            <tr>
                <th>Nomlecteur</th>
                <th>Prenomlecteur</th>
                <th>Cyclelecteur</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for lecteur in lecteurs %}
            <tr>
                <td>{{ lecteur.nomLecteur }}</td>
                <td>{{ lecteur.prenomLecteur }}</td>
                <td>{{ lecteur.cycleLecteur }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('lecteur_show', { 'id': lecteur.id }) }}">Afficher</a>
                        </li>
                        <li>
                            <a href="{{ path('lecteur_edit', { 'id': lecteur.id }) }}">Modifier</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('lecteur_new') }}">Créer un nouveau inscrit</a>
        </li>
    </ul>
{% endblock %}
