{% extends 'base.html.twig' %}

{% block body %}
    <h1>Création d'inscrit</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_errors(form) }}
        <input type="submit" value="Crée" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('lecteur_index') }}"><button>Retour</button></a>
        </li>
    </ul>
{% endblock %}
