{% extends 'base.html.twig' %}

{% block body %}
    <h1>Inscrit</h1>

    <table>
        <tbody>

            <tr>
                <th>Nom</th>
                <td>{{ lecteur.nomLecteur }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ lecteur.prenomLecteur }}</td>
            </tr>
            <tr>
                <th>Cycle</th>
                <td>{{ lecteur.cycleLecteur }}</td>
            </tr>
            <tr>
                <th>Faculté</th>
                <td>{{ lecteur.faculte }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('lecteur_index') }}">Retour</a>
        </li>
        <li>
            <a href="{{ path('lecteur_edit', { 'id': lecteur.id }) }}">Modifier</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Supprimer">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
