{% extends 'base.html.twig' %}

{% block body %}
    <h1>Inscrit</h1>

    <table>


            <tr style="background-color: #5B83AD">
                <th>Nom</th>
                <th>Prenom</th>
                <th>Cycle</th>
                <th>Faculté</th>

            </tr>
            <tr style="text-align: center; background-color: #e8e8e8">
                <td style="padding: 5px;">{{ lecteur.nomLecteur }}</td>
                <td style="padding: 5px;">{{ lecteur.prenomLecteur }}</td>
                <td style="padding: 5px;">{{ lecteur.cycleLecteur }}</td>
                <td style="padding: 5px;">{{ lecteur.faculte }}</td>
            </tr>

    </table>


            <a href="{{ path('lecteur_edit', { 'id': lecteur.id }) }}"><button>Modifier</button></a>


            {{ form_start(delete_form) }}
                <input type="submit" value="Supprimer">
            {{ form_end(delete_form) }}

            <a href="{{ path('lecteur_index') }}"><button>Retour</button></a>
{% endblock %}
