{% extends 'base.html.twig' %}
{% block body %}

<h1>Recherche inscrit</h1>
            <form method="post" action="{{ path('recherchermot') }}">
            <input type="text" id="" name="motchercher" class="form-control" placeholder="Rechercher..." required>
             <button class="btn btn-default" type="submit">Rechercher</button>
            </form>
    {% if listeLecteurs and listeLecteurs != "vide" %}
    </br></br>
    <table>
            <legend>Résultat de Recherche</legend>

            <tr style="background-color: #5B83AD">
                <th>Nom</th>
                <th>Prénom</th>
                <th>Actions</th>
            </tr>



                {% for listeLecteur in listeLecteurs %}

                    <tr style="text-align: center; background-color: #e8e8e8">

                        <td style="padding: 5px;">{{ listeLecteur.nomLecteur }}</td>
                        <td style="padding: 5px;">{{ listeLecteur.prenomLecteur }}</td >
                        <td style="padding: 5px;"><a href="{{ path('situationpret', {'id': listeLecteur.id }) }}"><button>Situation</button></a>
                        <a href="{{ path('lecteur_show', {'id': listeLecteur.id }) }}"><button>Afficher</button></a></td>
                    </tr>
                {% endfor %}



        </table>
    {% elseif listeLecteurs != "vide" %}
       </br></br>
        <h3> Aucun résultat trouvé !!</h3>
      {% endif %}
      <br /> <a href="{{ path('lecteur_index') }}"><button>Retour</button></a>
{% endblock %}